<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Auxil.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Auxil.Properties.Settings.AuxilConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Auxil.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <userSettings>
      <Auxil.Properties.Settings>
        <setting name="Processos" serializeAs="String">
          <value>C:\Users\eureg\OneDrive\Documents\Util\Processos.db3</value>
        </setting>
        <setting name="QuantAreaTransf" serializeAs="String">
          <value>20</value>
        </setting>
        <setting name="LarguraTela" serializeAs="String">
          <value>312</value>
        </setting>
        <setting name="AlturaTela" serializeAs="String">
          <value>148</value>
        </setting>
        <setting name="OrdenarLista" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="CaminhoTextoAreaTransf" serializeAs="String">
          <value>C:\Users\i336796\Documents\R\INI's\Util\AreaTransf.ini</value>
        </setting>
        <setting name="ListaMaiusculo" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="ProcessosRede" serializeAs="String">
          <value></value>
        </setting>
        <setting name="CentralDados" serializeAs="String">
          <value>C:\Users\i336796\Documents\R\P\CentralizadorDados\CentralizadorDados\bin\Release\CentralizadorDados.exe</value>
        </setting>
      </Auxil.Properties.Settings>
      
    </userSettings>
</configuration>